.ecbc-bootstrap-wrapper a.dropdown-item {
    text-decoration: none !important;
}
.ecbc-bootstrap-wrapper a.page-link {
    text-decoration: none;
}
.ecbc-bootstrap-wrapper li.page-link.empty {
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6;
}
.ecbc-bootstrap-wrapper li.page-link
{
    padding: 0;
}
.ecbc-bootstrap-wrapper li.page-link span.current {
    padding: 0.5rem 0.75rem;
    display: block;
}
.cs-controller-form select {
    height: auto !important;
}